.question-list-wrapper{
  background: linear-gradient(90deg, #F98404, #5C33F6);
  width: 100%;
  height: 100vh;
}

.question-list-main{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 76vw;
    height: 76vh;
    line-height: 2;
    box-shadow: 0px 30px 10px -18px rgb(0 0 0 / 40%);
}
